{% extends "base/main.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <h1>About Us</h1>
            <p>
                We are Aalaap Hegde and Aryan Baldua from San Jose, CA. Growing up, we have always loved helping people and giving to others as it puts a smile on my face. ScrapSaver means a lot to us because we are able to help put food on plates for kids and families all across California by making sure no good food is wasted. We greatly appreciate all the support!

            </p>
        </div>
{% endblock %}