{% extends 'base/main.html' %}
{% load static %}
{% block header %}
    <header class="header">
        <a href="{% url 'home' %}" class="logo"><img src="{% static 'images/logo.svg' %}" height="" width="" alt="logo"></a>
        <h1>Welcome {{request.user.username}}</h1>
        <div>

            <a href="#" class="dpBtn">{{request.user.username}}</a>
        </div>
    </header>
{% endblock header %}
{% block content %}
<main class="main">
    <div class="productScreen">
        <div class="sidebar">
            <h2>{{request.user}}</h2>
            <div class="proBtnWrap">
                <a href="{% url 'ingredient-create' %}"><button class="btn">Add Produce</button></a>
            </div>

        </div>
        <div class="right">
            <h2>Available Produce</h2>
            <div class="proFlex">
                {% for ingredient in ingredient %}
                    <div class="proBox">
                        <img src="{% if ingredient.food_image %}{{ingredient.food_image.url}} {% else %}{% static 'images/noImage.png' %}{% endif %}" height="" width="" alt="product">
                        <a href="{% url 'ingredientDetail' ingredient.id %}">{{ingredient.food_name}}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% comment %} {% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href= "{% url 'login' %}">Login</a>
    {% endif %}

    <hr>
    <h1>Available Produce</h1>
    <a href="{% url 'ingredient-create' %}">Add Food</a>

    <form method="GET">
        <input type = 'text' name = 'search-area' value = {{search_input}}>
        <input type = 'submit' value = 'Search'>
    </form>

    <table>
        <tr>
            <th>Available Produce</th>
            <th></th>
            <th></th>
        </tr>
        {% for i in ingredient %}
        <tr>
            <td>{{i.food_name}}</td>
            <td><a href="{%url 'ingredientDetail' i.id%}" > View</a></td>

            {% if request.user == i.user %}
                <td><a href="{%url 'ingredient-update' i.id%}" > Edit</a></td>
                <td><a href="{% url 'ingredient-delete' i.id%}" > Delete</a></td>
            {% endif %}
        </tr>
        {% empty %}
        <h3>No items</h3>
        {% endfor %}
    </table> {% endcomment %}
{% endblock content %}