{% extends 'base/main.html' %}
{% load static %}
{% block header %}
  <header class="header">
    <a href="#" class="logo"><img src="{% static 'images/logo.svg' %}" height="" width="" alt="logo"></a>
    <h1>Welcome Sam’s Bistro</h1>
    <div>
        <a href="{% url 'ingredient' %}" class="dpBtn">Produce List</a>
        <a href="#" class="dpBtn">Sam’s Bistro</a>
    </div>
  </header>
{% endblock header %}

{% block content %}
<main class="main">
 <div class="proDetailScreen">
     <div class="left">
         <h2>{{object.food_name}}</h2>
         <img src="{{object.food_image.url}}" height="" width="" alt="pro">
     </div>
     <div class="right">
         <div class="detailCard">
             <h3>Requestor: <span>{{object.user.organizationName}}</span></h3>
             <h3>Quality: {{object.description}}</h3>
             <h3>Quantity Requested: {{object.quantity}} lbs</h3>
         </div>
         <button class="btn">Send Request for item</button>
         <a href="{% url 'ingredient' %}"><button class="btn">Return to produce list</button></a>
     </div>
 </div>
 {% comment %} <h1>Ingredient: {{ object.food_name }}</h1>
 <ul>
<!--  <li>First Name: {{ object.user.first_name }}</li>-->
<!--  <li>Last Name: {{ object.user.last_name }}</li>-->
  <li>Username: {{object.user.username}}</li>
  <li>Organization Name: {{ object.user.organizationName}}</li>
  <li>Description: {{object.description}}</li>
  <li>Created: {{ object.created }}</li>
  <li>Zip Code: {{ object.user.zipCode }}</li>
 </ul>


<p> Return back to ingredient list: <a href = "{% url 'ingredient' %}"> IngredientList</a></p> {% endcomment %}
{% endblock %}
